
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs')%>
    <div class="container">
        <hr>
        <h1 style="color: white;"><%= question.tittle%></h1>
        <h3 style="color: white;"><%= question.description%></h3>
    </div>

</body>
<%- include('./partials/footer.ejs')%>